<div class="row">
    
    <div class="col s12 m8">
        <div class="row">
            <div class="card">
                <div class="valign-wrapper" style="   background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); ">
                    <div class="col s12 imgCol">
                        <img src="http://placehold.it/50x50" alt="">
                    </div>
                    <div class="row">
                        <div class="col s10 nameCol">
                            <span>{{reciever}}</span>
                            <p class="isOnline">Online</p>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </div>

                    <div class="col s12 rowDiv" ngx-auto-scroll lock-y-offset="10" observe-attributes>
                        <div class="row">
                          <div class="col s12">
                            <div class="message-wrspper" *ngFor="let message of messagesArray">
                              <div class="left" *ngIf="user.username !== receiver && user.username !== message.sendername">
                                <div class="chat-bubble left slide-left">
                                  <div class="message">{{message.body}}</div>
                                </div>
                              </div>


                <div class="right" *ngIf="user.username === message.sendername">
                    <div class="chat-bubble right slide-right">
                      <div class="message">{{message.body}}</div>
                    </div>
                  </div>

                <div class="cf">
                   

                </div>
            </div>
        </div>

    </div>


    <div class="col s12" style="margin:0px">
        <div class="row">
            <div class="card" style="height:55px">
                 <div class="inputRow">
                <form (ngSubmit)="SendMessage()">
                    <div class="input-field inputField col s10">
                    <textarea name="message" [(ngModel)]="message" (keypress)="IsTyping()" class="materialize-textarea inputBox"></textarea>     
                    </div>
                    <div class="input-field col s1 emojiDiv">
                          <button class="emojiBtn" (click)="Toggled()">😄</button>
                          <div class="emoji-content-editable"
                          (emojiPickerCaretEmitter)="HandleCurrentCaret($event)"
                          (input)="content = $event.target.textContent"
                          [textContent]="content"
                          contenteditable="true"></div>
                        <i
                          class="emoji-toggle-button imgBtn"
                         
                          [(emojiPickerIf)]="toggled"
                          [emojiPickerPreserveSelection]="false"
                          [emojiPickerDirection]="direction"
                          [emojiPickerAutofocus]="true"
                          (emojiPickerSelect)="HandleSelection($event)"></i>
                        </div>

                    <div class="input-field col s1">
                          <button class="suffix btn" >send</button>
                    </div>
                </form>
                 </div>
            </div>
        </div>
    </div>
</div>
</div>
